@import 'config/reset';
@import 'utils/mixins';
@import 'config/theme-vars';
@import 'config/common-vars';
@import 'config/fonts';
@import 'config/global';
@import 'features/nav';
@import 'features/burger';
@import 'features/form';
@import 'ui/preloader';
@import 'ui/column';
@import 'widgets/header';
@import 'widgets/download';
@import 'widgets/cashback';
@import 'widgets/clients';
@import 'widgets/warranty';
@import 'widgets/care';
@import 'widgets/modal';
@import 'widgets/footer';
