/*nav*/
.nav {
  display: none;

  &.active {
    display: block;
    position: fixed;
    top: 51px;
    left: 0;
    width: 100%;
    background: var(--bg-color-primary);
  }

  &__item {
    font-size: 24px;
    border-bottom: 1px solid var(--border-color-default);
  }

  &__item a {
    display: block;
    padding: 24px 15px;
  }
}

@media (min-width: $breakpoint-lg) {
  .nav {
    display: flex;
    gap: 40px;

    &__item {
      font-size: 20px;
      border-bottom: none;
    }

    &__item a {
      padding: 0;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .nav {
    gap: 50px;
  }
}
