/*breakpoint*/
$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1152px;
$breakpoint-xl: 1440px;

/*paddings*/
$padding-section-xs: 30px 15px;
$padding-section-sm: 30px 10vw;
$padding-section-md: 30px 40px;
$padding-section-lg: 40px 110px;
$padding-section-xl: 50px 165px;
