/*global*/
body {
  padding-top: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}

.root {
  color: var(--color-primary);
  background: var(--bg-color-primary);
}

input {
  font: inherit;
  font-size: 16px;
}

img {
  width: 100%;
}

@media (min-width: $breakpoint-lg) {
  body {
    padding-top: 78px;
  }
}
