.app {
  &.light {
    // color:
    --color-primary: #000000;

    // background-color:
    --bg-color-primary: #ffffff;
    --bg-color-image: #aaaaaa;
    --bg-color-footer: #484848;

    // border-color:
    --border-color: #aaaaaa;
  }

  &.dark {
    // color:
    --color-primary: #ffffff;

    // background-color:
    --bg-color-primary: #484848;
    --bg-color-image: #ffffff;
    --bg-color-footer: #484848;

    // border-color:
    --border-color: #ffffff;
  }
}