/*care*/
.care {
  padding: 30px 15px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* &__text-block {} */

  &__title {
    font-size: 26px;
    font-weight: 700;
  }

  &__copy {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
  }

  &__copy:first-of-type {
    margin-top: 20px;
  }

  &__image-block {
    height: 72vw;
    border: 1px solid #AAA;
    border-radius: 20px;
    overflow: hidden;

    & img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}