/*cashback*/
.cashback {
  padding: 30px 15px;

  /* &__wrapper {} */

  /* &__text-block {} */

  &__title {
    font-size: 26px;
    font-weight: 700;
  }

  &__copy {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;

    &:first-of-type {
      margin-top: 20px;
    }
  }

  &__button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid var(--border-color-default);
    border-radius: 30px;
    margin-top: 20px;
  }
}

@media (min-width: $breakpoint-md) {
  .cashback {
    padding: $padding-section-md;

    &__wrapper {
      padding: 20px 114px;
    }

    &__title {
      text-align: center;
      font-size: 30px;
    }

    &__copy {
      text-align: center;
      font-size: 16px;
    }

    &__button {
      margin: 20px auto 0px auto;
      width: 225px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .cashback {
    padding: $padding-section-lg;

    &__wrapper {
      padding: 0 216px;
    }

    &__title {
      font-size: 42px;
    }

    &__copy {
      font-size: 18px;
    }

    &__button {
      height: 55px;
      font-size: 18px;
    }
  }
}
