/*download*/
.download {
  padding: $padding-section-xs;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // &__text-block {}

  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__copy {
    font-size: 14px;
    margin-top: 20px;
  }

  &__links {
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__link {
    display: block;
    width: 150px;
    height: 44px;

    & svg {
      fill: var(--bg-color-link);
    }
  }

  &__image-block {
    aspect-ratio: 9 / 7;
    border: 1px solid var(--border-color-image);
    border-radius: 20px;
    overflow: hidden;

    & img {
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (min-width: $breakpoint-sm) {
  .download {
    padding: $padding-section-sm;
  }
}

@media (min-width: $breakpoint-md) {
  .download {
    padding: $padding-section-md;

    &__wrapper {
      flex-direction: row;
    }

    &__text-block {
      flex: 1;
    }

    &__title {
      font-size: 36px;
    }

    &__links {
      flex-direction: row;
      gap: 20px;
    }

    &__image-block {
      flex: 1;
      height: auto;
      aspect-ratio: 33/26;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .download {
    padding: $padding-section-lg;

    &__wrapper {
      gap: 40px;
    }

    &__text-block {
      align-self: center;
    }

    &__title {
      font-size: 42px;
    }

    &__copy {
      font-size: 18px;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .download {
    padding: $padding-section-xl;

    &__wrapper {
      gap: 110px;
    }

    &__title {
      font-size: 56px;
    }

    &__copy {
      font-size: 20px;
    }
  }
}
