/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: var(--color-primary);
  background: var(--bg-color-primary);
  border-bottom: 1px solid var(--border-color-default);

  &__wrapper {
    height: 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 77px;
    height: 30px;
  }

  &__logo svg {
    height: 100%;
  }

  /* &__nav {} */

  &__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__lang {
    position: relative;
    display: flex;
    align-items: center;
    width: 50px;
    height: 30px;
    border: 1px solid var(--border-color-lang);
    border-radius: 4px;
    overflow: hidden;
  }

  &__lang svg {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 6px;
    pointer-events: none;
  }

  &__lang select {
    padding-left: 8px;
    width: 100%;
    height: 100%;
    color: var(--color-primary);
    background: var(--bg-color-primary);
  }

  &__theme {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: $breakpoint-sm) {
  .header {
    &__wrapper {
      padding: 0 40px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .header {
    &__wrapper {
      padding: 0 40px;
    }

    &__actions {
      gap: 30px;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .header {
    &__wrapper {
      height: 78px;
      padding: 0 110px;
    }

    &__logo {
      margin-right: auto;
    }

    &__actions {
      gap: 40px;
      margin-left: 40px;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .header {
    &__wrapper {
      height: 78px;
      padding: 0 165px;
    }

    &__actions {
      gap: 50px;
      margin-left: 50px;
    }
  }
}
