/*modal*/
.modal {
  display: none;
  background: rgba(0, 0, 0, 0.6);

  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    position: relative;
    width: calc(100vw - 15px*2);
    padding: 30px 20px;
    display: grid;
    gap: 20px;
    border-radius: 5px;
    background: var(--bg-color-primary);
  }

  &__close {
    width: 34px;
    height: 34px;
    position: absolute;
    top: -34px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      flex-basis: content;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (min-width: $breakpoint-sm) {
  .modal {
    &__body {
      padding: $padding-section-sm;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .modal {
    &__body {
      width: 50vw;
      max-width: 600px;
      padding: $padding-section-md;
    }
  }
}

