/*warranty*/
.warranty {
  padding: 30px 15px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* &__text-block {} */

  &__title {
    font-size: 26px;
    font-weight: 700;
  }

  &__copy {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
  }

  &__copy:first-of-type {
    margin-top: 20px;
  }

  &__image-block {
    aspect-ratio: 9 / 7;
    border: 1px solid #AAA;
    border-radius: 20px;
    overflow: hidden;
  }

  &__image-block img {
    display: block;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: $breakpoint-sm) {
  .warranty {
    padding: $padding-section-sm;
  }
}

@media (min-width: $breakpoint-md) {
  .warranty {
    padding: $padding-section-md;

    &__wrapper {
      flex-direction: row-reverse;
    }

    &__text-block {
      flex: 1;
    }

    &__title {
      font-size: 30px;
    }

    &__copy {
      font-size: 14px;
    }

    &__image-block {
      flex: 1;
      width: 330px;
      height: auto;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .warranty {
    padding: $padding-section-lg;

    &__wrapper {
      gap: 40px;
    }

    &__text-block {
      align-self: center;
    }

    &__title {
      font-size: 34px;
    }

    &__copy {
      font-size: 18px;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .warranty {
    padding: $padding-section-xl;

    &__wrapper {
      gap: 110px;
    }

    &__title {
      font-size: 40px;
    }

    &__copy {
      font-size: 20px;
      margin-top: 20px;
    }

    &__copy:first-of-type {
      margin-top: 30px;
    }
  }
}
